/* frontend/src/styles/chatBox.css */

.chat-icon {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background: #007bff;
  color: white;
  font-size: 20px;
  border: none;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
}

.chat-panel {
  position: absolute;
  bottom: 60px;
  right: 20px;
  width: 250px;
  height: 300px;
  background: rgb(58, 54, 54);
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.chat-messages {
  flex: 1;
  overflow-y: auto;
  max-height: 220px;
}

.chat-panel input {
  width: 80%;
  padding: 5px;
  margin-top: 5px;
}

.chat-panel button {
  width: 15%;
  padding: 5px;
  margin-left: 5px;
  background: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}
